html{
  height: auto;
}
html, body {
  width:  100%;
  margin: 0px;
  overflow: hidden;
  background-color:#ffffff;
  background-image:url("http://i.imgur.com/IU9BPdx.jpg");
  background-position:top-left;
  background-repeat:none;
  background-attachment: fixed;
}
body {
  height: 100%;
}

textarea {
	width:200px;
	height:70px;
}

input[type="text"] {
	width:200px;
	
}

#main{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#9eb69c;
	background-image:url("http://i.imgur.com/IU9BPdx.jpg");
	background-position:top-left;
	background-repeat:none;
	background-attachment: fixed;
	z-index: 1;
}

#content{
	position:absolute;
	left:50%;
	margin-left:-400px;
	width:800px;
	width:auto;
	height:auto;
}
#top{
	width:auto;
	height:auto;
}

#intro{
	height:auto;
	width:800px;
	position:relative;
	padding-bottom:25px;
}

#instr{
	height:auto;
	width:300px;
	position:relative;
	float:left;
}
#customEnv{
	display:none;
	height:auto;
	width:800px;
	position:relative;
	padding-bottom:25px;
}

#win{
	font-size:30px;
	padding:10px;
	color:#000;
	display:none;
	position:absolute;
	z-index: 100 !important;
	left:50%;
	margin-left:-200px;
	top:50%;
	margin-top:-75px;
	height:auto;
	width:400px;
	background-image:url("http://i.imgur.com/3tm0mmN.png");
	border:5px solid #ffffff;
	
}