html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color:#ffffff;
  background-image:url("http://i.imgur.com/IU9BPdx.jpg");
  background-position:top-left;
  background-repeat:none;

}

#main{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#9eb69c;
	background-image:url("http://i.imgur.com/IU9BPdx.jpg");
	background-position:top-left;
	background-repeat:none;
	z-index: 1;
}

#content{
	position:absolute;
	left:50%;
	margin-left:-400px;
	width:800px;
	width:auto;
	height:auto;
}
#top{
	width:auto;
	height:auto;
}

#intro{
	height:auto;
	width:800px;
	position:relative;
	padding-bottom:25px;
}

#win{
	font-size:30px;
	color:#000;
	display:none;
	position:absolute;
	z-index: 100 !important;
	left:50%;
	margin-left:-200px;
	top:50%;
	margin-top:-100px;
	height:200px;
	width:400px;
	background-image:url("http://i.imgur.com/IYkjtIB.png");
	border:5px solid #ffffff;
	
}